.aboutproject {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aboutproject-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 400px;
}

.aboutproject-title {
    font-size: 60px;
}

.aboutproject-description {
    font-size: 20px;
}

.aboutproject-right {
    width: fit-content;
    height: 360px;

    border-radius: 8px;
    overflow: hidden;
}