.workspaceslayout-wrapper {
    padding-top: 32px;
    width: 100vw;
    height: calc(100vh - 57px - 32px);
    max-height: calc(100vh - 57px - 32px);

    background-color: var(--black-dark);
    overflow-y: auto;
}

.workspaceslayout-container {
    display: flex;
    gap: 28px;
    margin: 0 auto;
    max-width: 1100px;
}

.workspaceslayout-content {
    flex: 1 1 auto;
}